@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Doto:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --base-100: #f2cbcb;
    --base-200: #cb98e19f;
    --base-300: #3b3b3b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: var(--base-100);
    color: var(--base-300);
}

h1,
h2 {
    font-weight: 500;
    line-height: -0.1rem;
}

h1 {
    font-size: 4rem;
    letter-spacing: -0.1rem;
}

h2 {
     font-size: 2.5rem;
    letter-spacing: -0.075rem;
}

p {
     font-size: 1.125rem;
     font-weight: 500;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

.hero, .outro {
    position: relative;
    width: 100%;
    height: 30svh;
    padding: 2rem;
    background-color: #dcadf0ac;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero h1,
.outro h1 {
    width: 60%;
    text-align: center;
}

.spotlight {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    overflow: hidden;
}

.spotlight .row {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.spotlight .row .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.spotlight .row:nth-child(1) .img,
.spotlight .row:nth-child(4) .img {
    width: 70%;
}

.spotlight .card {
    width: 75%;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f2cbcb;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.spotlight .svg-path {
    position: absolute;
    top: 15svh;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 100%;
    z-index: -1;
}

.spotlight .svg-path svg {
    width: 100%;
    height: 100%;
}

@media (max-width: 1000px) {
    h1,
    h2 {
        letter-spacing: 0;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
    .hero h1,
    .outro h1 {
        width: 100%;
    }
    .spotlight {
        gap: 5rem;
    }
    .spotlight .row {
        flex-direction: column;
    }
    .spotlight .row:nth-child(1) .img,
    .spotlight .row:nth-child(4) .img {
        width: 100%;
    }
    .spotlight .card {
        width: 100%;
    }

    .spotlight .svg-path{
        top: 15svh;
        width: 275%;
    }
}
